<div style="margin:20px"> 

    <button class="btn btn-primary" (click)="openAddPersonDialog()">Add person</button>
    <br/>
    <hr style="width:100px"/>
    <br/>
    <ul>
        
          <li *ngFor="let person of peopleArray; let i = index"> 
            {{person.name}} 
            <button class="btn btn-default btn-sm" (click)="person.isHidden = !person.isHidden"> Show</button>
             <button class="btn btn-default btn-sm" (click)="deletePerson(person)">Remove</button>
        
            <div  [hidden]="!person.isHidden"> 
              E-mail:  {{person.mail}} <br/>
              Address: {{person.address}} <br/>
              Gender: {{person.gender}}
            </div>
          </li>
        </ul>
        
		<div *ngIf="peopleArray == 0">
          <h5>No people found in the database.</h5>
    </div>

  
</div>
