<p *ngIf="authenticationService.isLoggedIn()">
    Hello {{authenticationService.currentUser.name}}
</p>
<div style="margin:20px"> 
    <button class="btn btn-primary" (click)="openAddPersonDialog()">Add person</button>
    <br/>
    <hr style="width:100px"/>
    <br/>

    <!-- <ul>
        
          <li *ngFor="let person of peopleArray; let i = index"> 
            {{person.name}} 
            <button class="btn btn-default btn-sm" (click)="person.isHidden = !person.isHidden"> Show</button>
             <button class="btn btn-default btn-sm" (click)="deletePerson(person)">Remove</button>
        
            <div  [hidden]="!person.isHidden"> 
              E-mail:  {{person.mail}} <br/>
              Address: {{person.address}} <br/>
              Gender: {{person.gender}}
            </div>
          </li>
    </ul> -->

    <div *ngIf="!(peopleArray == 0)" name="peopleContent">
        <table  
            @fade
            mat-table 
            [dataSource]="peopleArray"  
            class="mat-elevation-z8">
      
              <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"><a [routerLink]="['/people', element.name , element.id ]">{{element.name}} </a></td>
              </ng-container>
      
              <ng-container matColumnDef="mail">
                  <th mat-header-cell *matHeaderCellDef> Mail </th>
                  <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
              </ng-container>
      
              <ng-container matColumnDef="address">
                  <th mat-header-cell *matHeaderCellDef> Address </th>
                  <td mat-cell *matCellDef="let element"> {{element.address}} </td>
              </ng-container>
      
              <ng-container matColumnDef="gender">
                  <th mat-header-cell *matHeaderCellDef> Gender </th>
                  <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
              </ng-container>
      
              <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let person">
                    <button class="btn btn-default" type="button" (click)="deletePerson(person)">Remove</button>
                  </td>
               </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr @fade mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
          </table>
    </div>
   
        
	<div *ngIf="peopleArray == 0">
        <h5>No people found in the database.</h5>
    </div>

  
</div>

<button (click)="logout()">Logout</button>
