<div style="margin:20px">
    <ul>
        
          <li *ngFor="let person of peopleArray; let i = index"> 
            {{person.name}} 
            <button class="btn btn-default btn-sm" (click)="person.isHidden = !person.isHidden"> Show</button>
             <button class="btn btn-default btn-sm" (click)="deletePerson(person)">Remove</button>
        
            <div  [hidden]="!person.isHidden"> 
              E-mail:  {{person.mail}} <br/>
              Address: {{person.address}}
            </div>
          </li>
        </ul>
        
		<div *ngIf="peopleArray == 0">
          <h5>No people found in the database.</h5>
        </div>

        <br/>
        <hr/>
        <h4>Add a new person: </h4>
        Name : <input [(ngModel)]="newPerson.name" class="form-control"/>
        Mail : <input [(ngModel)]="newPerson.mail" class="form-control"/>
        Address : <input [(ngModel)]="newPerson.address" class="form-control"/>
        
        <button class="btn btn-primary" (click)="addPerson()">Add person</button>
</div>
