<h4>Add a new person: </h4>
<form #theForm="ngForm" [formGroup]="addPersonForm">
        Name : <input [(ngModel)]="newPerson.name"
                name="name"
                class="form-control"
                formControlName="name"/>
        Mail : <input [(ngModel)]="newPerson.mail"
                name="mail"
                class="form-control"
                formControlName="mail"/>
        Address : <input [(ngModel)]="newPerson.address"
                        name="address"
                        class="form-control"
                        formControlName="address"/>
        <div id="gender-div" >
        Gender : <mat-radio-group [(ngModel)]="newPerson.gender" formControlName="gender">
                <mat-radio-button value="Male" style="padding:3px">Male</mat-radio-button>
                <mat-radio-button value="Female" style="padding:3px">Female</mat-radio-button>
        </mat-radio-group>
        </div>
        
        <br/>
        <hr/>
        <button id="cancel-btn" class="btn btn-default" 
                mat-dialog-close>Cancel</button>
                
        <button id="add-person-btn" 
                class="btn btn-primary"
                [disabled]="!theForm.valid"
                (click)="addPerson()">
                Add person
        </button>
</form>

 